doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript')
			$("<audio id='audioElement'>").appendTo("body");
			$("#audioElement").attr("src", "/audio.wav").attr("autoplay", "autoplay");

			$("#audioElement").bind("timeupdate", function() {
				var currentTime = parseInt(this.currentTime, 10);
				if(currentTime == 2) {
						console.log("2 seconds in");
						$(this).unbind("timeupdate");
				}
			});
    )
  body
    h1 Hello World
